!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "PhotoApp"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"


  %body
    .navbar.navbar-default.navbar-static-top
      .container
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand(href="#") PhotoApp
        .navbar-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-right.col-md-4
            - if current_user
              %li.col-md-5.user-name
                =link_to "Edit | #{current_user.email}", edit_user_registration_path, class: "btn btn-md btn-primary"
              %li.col-md-1
                &nbsp;
              %li.col-md-3.logout
                =link_to "Logout", destroy_user_session_path, method: :delete ,data: {confirm: "are you sure"},class: "btn btn-md btn-danger"
            - else
              %li.col-md-4.pull-right
                = link_to 'Signin',   new_user_session_path, class: "btn btn-md btn-primary"
    .container
      .row
        .col-lg-12
          = bootstrap_flash
          = yield
      %footer
        %p &copy; Company 2018
