!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PhotoApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/navigation'
    .container
      .row
        .col-lg-12
          = yield
-#        .col-lg-3
-#          .well.sidebar-nav
-#            %h3 Sidebar
-#            %ul.nav.nav-list
-#              %li.nav-header Sidebar
-#              %li= link_to "Link 1", "/path1"
-#              %li= link_to "Link 2", "/path2"
-#              %li= link_to "Link 3", "/path3"
    %footer
      %p &copy; Company 2018
